{% extends "chirps/base.html" %}
{% block content %}
    <h2>What is Chirpies</h2>
    <article class="media content-section">
        <div class="media-body">
            <p class="article-content">Chirpies is a platform where people is encouraged to provide their view on products</p>
            <p class="article-content">It is a combination of online shopping and twitter (We mean chirpers)!!!</p>
            <p class="article-content">Cheap, cheap, cheap and chirp, chirp, chirp</p>
        </div>
    </article>

{% endblock content %}